*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    font-family: 'popins', sans-serif;
 
}

header {
   background-image: url('Power_Rank_Real_Madrid.webp');
   background-size: cover;
   background-position: center; 
   color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

header h1 {
    font-size: 85px;
    margin-top: 570px;
    font-weight: 500;
}

header p {
    font-size: 20px;
    margin: 0.5rem 0;
}

header a.cta {
    background-color:black;
    border: 1px solid #333;
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.2s;
}

header a.cta:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content:right;
    align-items: center;
    margin-bottom: 2rem;
    position:absolute;
    top: 0;
    width: 100%;
    padding: 10px 1%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color:black;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
}

section {
    width: 80%;
    text-align: center;
    margin: 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
section input[type="text"],
section input[type="email"],
section textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #333;
}

section button[type="submit"]:hover {
    background-color: #fff;
    color: #333;
}

footer {
    background-color:white;
    color:black;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-align:left;

}

footer p {
    font-size: 1.5rem;
    margin: 0;
}

footer a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
    }
}
#services {
    padding: 1rem 0;
    text-align: center;
}

#services h2 {
    margin-bottom: 5rem;
}

.service {
    width: 30%;
    display: inline-block;
    padding: 0 2rem;
    text-align: center;
}

.service img {
    width: 250px;
    margin-bottom: 1rem;
    border-radius: 70%;
}

@media only screen and (max-width: 600px) {
    .service {
        width: 100%;
        margin: 2rem 0;
    }
}
